USE [master]
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurants](
	[restaurant_id] [bigint] IDENTITY(1,1) NOT NULL,
	[restaurant_name] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[cuisine_type] [varchar](80) NOT NULL,
	[rating] [decimal](2, 1) NOT NULL,
	[total_revenue] [decimal](12, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[product_name] [varchar](150) NOT NULL,
	[description] [varchar](max) NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[stock_qty] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_aktif_restoran_menuleri]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_aktif_restoran_menuleri] AS
SELECT
    r.restaurant_id,
    r.restaurant_name,
    r.cuisine_type,
    p.product_id,
    p.product_name,
    c.category_name,
    p.unit_price,
    p.stock_qty
FROM restaurants r
INNER JOIN products p
    ON p.restaurant_id = r.restaurant_id
INNER JOIN categories c
    ON c.category_id = p.category_id
WHERE r.is_active = 1
  AND p.is_active = 1;
GO
/****** Object:  Table [dbo].[askida_redemptions]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[askida_redemptions](
	[redemption_id] [bigint] IDENTITY(1,1) NOT NULL,
	[pool_id] [bigint] NOT NULL,
	[beneficiary_customer_id] [bigint] NOT NULL,
	[order_id] [bigint] NOT NULL,
	[amount_used] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[redemption_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[askida_pool]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[askida_pool](
	[pool_id] [bigint] IDENTITY(1,1) NOT NULL,
	[current_balance] [decimal](12, 2) NOT NULL,
	[total_donated_balance] [decimal](12, 2) NOT NULL,
	[total_used_balance] [decimal](12, 2) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pool_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[askida_donations]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[askida_donations](
	[donation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[pool_id] [bigint] NOT NULL,
	[donor_customer_id] [bigint] NOT NULL,
	[donation_type] [varchar](20) NOT NULL,
	[meal_count] [int] NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[is_anonymous] [bit] NOT NULL,
	[note] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_askida_yemek_havuz_durumu]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[vw_askida_yemek_havuz_durumu] AS
SELECT
    ap.pool_id,
    ap.current_balance,
    ap.total_donated_balance,
    ap.total_used_balance,
    COUNT(DISTINCT ad.donation_id) AS total_donation_count,
    COUNT(DISTINCT ar.redemption_id) AS total_redemption_count,
    ap.updated_at
FROM askida_pool ap
LEFT JOIN askida_donations ad
    ON ad.pool_id = ap.pool_id
LEFT JOIN askida_redemptions ar
    ON ar.pool_id = ap.pool_id
GROUP BY
    ap.pool_id,
    ap.current_balance,
    ap.total_donated_balance,
    ap.total_used_balance,
    ap.updated_at;
GO
/****** Object:  Table [dbo].[admins]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[admin_id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](120) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](30) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_admins] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[couriers]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[couriers](
	[courier_id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](120) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[vehicle_type] [varchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_cards]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_cards](
	[card_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[card_holder_name] [nvarchar](120) NOT NULL,
	[card_number] [nvarchar](16) NOT NULL,
	[expiry_month] [int] NOT NULL,
	[expiry_year] [int] NOT NULL,
	[cvv] [nvarchar](4) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](120) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[is_beneficiary_verified] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[line_total]  AS ([quantity]*[unit_price]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[restaurant_id] [bigint] NOT NULL,
	[courier_id] [bigint] NULL,
	[order_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[delivery_address] [text] NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[askida_used_amount] [decimal](12, 2) NOT NULL,
	[revenue_recognized] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_reviews]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_reviews](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [varchar](1000) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_restaurant_reviews] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([admin_id], [full_name], [email], [password_hash], [role], [is_active], [created_at]) VALUES (4, N'derya kaya', N'deryakaya@gamil.com', N'derya4546.', N'ADMIN', 1, CAST(N'2026-05-20T23:45:34.0000000' AS DateTime2))
INSERT [dbo].[admins] ([admin_id], [full_name], [email], [password_hash], [role], [is_active], [created_at]) VALUES (5, N'esra bulut', N'esrabulut@gmail.com', N'esra1234.', N'ADMIN', 1, CAST(N'2026-05-22T01:30:39.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[askida_donations] ON 

INSERT [dbo].[askida_donations] ([donation_id], [pool_id], [donor_customer_id], [donation_type], [meal_count], [amount], [is_anonymous], [note], [created_at]) VALUES (13, 1, 25, N'BALANCE', NULL, CAST(2000.00 AS Decimal(12, 2)), 1, NULL, CAST(N'2026-05-19T23:05:22.5079220' AS DateTime2))
INSERT [dbo].[askida_donations] ([donation_id], [pool_id], [donor_customer_id], [donation_type], [meal_count], [amount], [is_anonymous], [note], [created_at]) VALUES (15, 1, 25, N'BALANCE', NULL, CAST(1400.00 AS Decimal(12, 2)), 1, NULL, CAST(N'2026-05-20T02:09:45.2205542' AS DateTime2))
INSERT [dbo].[askida_donations] ([donation_id], [pool_id], [donor_customer_id], [donation_type], [meal_count], [amount], [is_anonymous], [note], [created_at]) VALUES (16, 1, 25, N'BALANCE', NULL, CAST(500.00 AS Decimal(12, 2)), 1, NULL, CAST(N'2026-05-20T02:10:01.3862749' AS DateTime2))
SET IDENTITY_INSERT [dbo].[askida_donations] OFF
GO
SET IDENTITY_INSERT [dbo].[askida_pool] ON 

INSERT [dbo].[askida_pool] ([pool_id], [current_balance], [total_donated_balance], [total_used_balance], [updated_at]) VALUES (1, CAST(19382.00 AS Decimal(12, 2)), CAST(19582.00 AS Decimal(12, 2)), CAST(200.00 AS Decimal(12, 2)), CAST(N'2026-05-22T01:42:03.7519349' AS DateTime2))
INSERT [dbo].[askida_pool] ([pool_id], [current_balance], [total_donated_balance], [total_used_balance], [updated_at]) VALUES (2, CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2026-04-23T17:07:07.0333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[askida_pool] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (1, N'Burger')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (9, N'Corba')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (12, N'Çiğ Köfte')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[couriers] ON 

INSERT [dbo].[couriers] ([courier_id], [full_name], [email], [phone], [vehicle_type], [is_active], [created_at]) VALUES (1, N'Kurye 1', N'kurye1@mail.com', N'0555000001', N'BIKE', 1, CAST(N'2026-04-23T17:14:52.6000000' AS DateTime2))
INSERT [dbo].[couriers] ([courier_id], [full_name], [email], [phone], [vehicle_type], [is_active], [created_at]) VALUES (2, N'Kurye 2', N'kurye2@mail.com', N'0555000002', N'MOTORBIKE', 1, CAST(N'2026-04-23T17:14:52.6033333' AS DateTime2))
INSERT [dbo].[couriers] ([courier_id], [full_name], [email], [phone], [vehicle_type], [is_active], [created_at]) VALUES (3, N'Kurye 3', N'kurye3@mail.com', N'0555000003', N'CAR', 1, CAST(N'2026-04-23T17:14:52.6033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[couriers] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [full_name], [email], [phone], [password_hash], [is_beneficiary_verified], [is_active], [created_at]) VALUES (25, N'ayse yılmaz', N'ayseyilmaz@gmail.com', N'05342722992', N'nil.kay3536', 0, 0, CAST(N'2026-05-19T23:03:27.8874420' AS DateTime2))
INSERT [dbo].[customers] ([customer_id], [full_name], [email], [phone], [password_hash], [is_beneficiary_verified], [is_active], [created_at]) VALUES (26, N'sema doğan', N'semadogan@gmail.com', N'05443367865', N'nil.kay45', 0, 0, CAST(N'2026-05-20T22:20:12.5026403' AS DateTime2))
INSERT [dbo].[customers] ([customer_id], [full_name], [email], [phone], [password_hash], [is_beneficiary_verified], [is_active], [created_at]) VALUES (27, N'fatma bulut', N'fatmabulut@gmail.com', N'05326678965', N'fatma3536..', 1, 1, CAST(N'2026-05-21T02:47:46.0872821' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([order_item_id], [order_id], [product_id], [quantity], [unit_price]) VALUES (985, 103, 20, 1, CAST(126.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [product_id], [quantity], [unit_price]) VALUES (986, 109, 26, 1, CAST(101.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [product_id], [quantity], [unit_price]) VALUES (987, 10113, 12, 2, CAST(70.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [customer_id], [restaurant_id], [courier_id], [order_date], [status], [delivery_address], [payment_method], [total_amount], [askida_used_amount], [revenue_recognized], [is_active]) VALUES (103, 25, 2, 10, CAST(N'2026-05-19T23:04:56.4624977' AS DateTime2), N'PENDING', N'van', N'CARD', CAST(126.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), 0, 1)
INSERT [dbo].[orders] ([order_id], [customer_id], [restaurant_id], [courier_id], [order_date], [status], [delivery_address], [payment_method], [total_amount], [askida_used_amount], [revenue_recognized], [is_active]) VALUES (109, 25, 3, 3, CAST(N'2026-05-20T01:51:38.3960415' AS DateTime2), N'PENDING', N'van', N'CARD', CAST(101.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), 0, 1)
INSERT [dbo].[orders] ([order_id], [customer_id], [restaurant_id], [courier_id], [order_date], [status], [delivery_address], [payment_method], [total_amount], [askida_used_amount], [revenue_recognized], [is_active]) VALUES (10113, 26, 2, 4, CAST(N'2026-05-20T22:20:46.6124017' AS DateTime2), N'PENDING', N'van', N'CARD', CAST(140.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [restaurant_id], [category_id], [product_name], [description], [unit_price], [stock_qty], [is_active], [created_at]) VALUES (1, 1, 1, N'Lezzet Burger Urun 1', N'Aciklama - Lezzet Burger urun 1', CAST(60.00 AS Decimal(10, 2)), 23, 1, CAST(N'2026-04-23T17:14:52.6133333' AS DateTime2))
INSERT [dbo].[products] ([product_id], [restaurant_id], [category_id], [product_name], [description], [unit_price], [stock_qty], [is_active], [created_at]) VALUES (2, 1, 2, N'Lezzet Burger Urun 2', N'Aciklama - Lezzet Burger urun 2', CAST(67.00 AS Decimal(10, 2)), 26, 1, CAST(N'2026-04-23T17:14:52.6133333' AS DateTime2))
INSERT [dbo].[products] ([product_id], [restaurant_id], [category_id], [product_name], [description], [unit_price], [stock_qty], [is_active], [created_at]) VALUES (3, 1, 3, N'Lezzet Burger Urun 3', N'Aciklama - Lezzet Burger urun 3', CAST(74.00 AS Decimal(10, 2)), 29, 1, CAST(N'2026-04-23T17:14:52.6133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[restaurant_reviews] ON 

INSERT [dbo].[restaurant_reviews] ([review_id], [restaurant_id], [customer_id], [rating], [comment], [is_active], [created_at]) VALUES (2, 2, 25, 4, N'yemekler cok lezzettliydi', 1, CAST(N'2026-05-20T01:49:32.0000000' AS DateTime2))
INSERT [dbo].[restaurant_reviews] ([review_id], [restaurant_id], [customer_id], [rating], [comment], [is_active], [created_at]) VALUES (3, 3, 25, 3, N'siparıs gec geldi', 1, CAST(N'2026-05-20T01:50:20.0000000' AS DateTime2))
INSERT [dbo].[restaurant_reviews] ([review_id], [restaurant_id], [customer_id], [rating], [comment], [is_active], [created_at]) VALUES (4, 4, 29, 5, N'yemekler cok lezzetliydi', 1, CAST(N'2026-05-22T01:41:17.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[restaurant_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[restaurants] ON 

INSERT [dbo].[restaurants] ([restaurant_id], [restaurant_name], [email], [phone], [cuisine_type], [rating], [total_revenue], [is_active], [created_at]) VALUES (1, N'Lezzet Burger', N'burger@resto.com', N'05010000001', N'Fast Food', CAST(4.4 AS Decimal(2, 1)), CAST(0.00 AS Decimal(12, 2)), 0, CAST(N'2026-04-23T17:14:52.6000000' AS DateTime2))
INSERT [dbo].[restaurants] ([restaurant_id], [restaurant_name], [email], [phone], [cuisine_type], [rating], [total_revenue], [is_active], [created_at]) VALUES (2, N'Napoli Pizza', N'pizza@resto.com', N'05010000002', N'Italian', CAST(4.0 AS Decimal(2, 1)), CAST(0.00 AS Decimal(12, 2)), 1, CAST(N'2026-04-23T17:14:52.6000000' AS DateTime2))
INSERT [dbo].[restaurants] ([restaurant_id], [restaurant_name], [email], [phone], [cuisine_type], [rating], [total_revenue], [is_active], [created_at]) VALUES (3, N'Anadolu Doner', N'doner@resto.com', N'05010000003', N'Turkish', CAST(3.0 AS Decimal(2, 1)), CAST(0.00 AS Decimal(12, 2)), 1, CAST(N'2026-04-23T17:14:52.6000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[restaurants] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_admins_email]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[admins] ADD  CONSTRAINT [UQ_admins_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_admins_active]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_admins_active] ON [dbo].[admins]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_donations_donor_date]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [idx_donations_donor_date] ON [dbo].[askida_donations]
(
	[donor_customer_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__askida_r__4659622806C01507]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[askida_redemptions] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__5189E255767DEF83]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__couriers__AB6E61640D42629C]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[couriers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__couriers__B43B145F5CD0B9F7]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[couriers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__AB6E6164796C8258]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__B43B145F500CDA94]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_customers_email]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UQ_customers_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_customers_fullname_phone]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UQ_customers_fullname_phone] UNIQUE NONCLUSTERED 
(
	[full_name] ASC,
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_order_product]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[order_items] ADD  CONSTRAINT [uq_order_product] UNIQUE NONCLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_customer_date]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [idx_orders_customer_date] ON [dbo].[orders]
(
	[customer_id] ASC,
	[order_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_status_date]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [idx_orders_status_date] ON [dbo].[orders]
(
	[status] ASC,
	[order_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_products_restaurant_name]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [UQ_products_restaurant_name] UNIQUE NONCLUSTERED 
(
	[restaurant_id] ASC,
	[product_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_restaurant_product]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [uq_restaurant_product] UNIQUE NONCLUSTERED 
(
	[restaurant_id] ASC,
	[product_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_restaurant_active]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [idx_products_restaurant_active] ON [dbo].[products]
(
	[restaurant_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_restaurant_reviews_customer_restaurant]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[restaurant_reviews] ADD  CONSTRAINT [UQ_restaurant_reviews_customer_restaurant] UNIQUE NONCLUSTERED 
(
	[restaurant_id] ASC,
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_restaurant_reviews_created]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_restaurant_reviews_created] ON [dbo].[restaurant_reviews]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_restaurant_reviews_restaurant]    Script Date: 22.05.2026 01:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_restaurant_reviews_restaurant] ON [dbo].[restaurant_reviews]
(
	[restaurant_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__restaura__AB6E6164C4F84A50]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[restaurants] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__restaura__B43B145F013137EF]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[restaurants] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_restaurants_email]    Script Date: 22.05.2026 01:52:07 ******/
ALTER TABLE [dbo].[restaurants] ADD  CONSTRAINT [UQ_restaurants_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  CONSTRAINT [DF_admins_role]  DEFAULT ('ADMIN') FOR [role]
GO
ALTER TABLE [dbo].[admins] ADD  CONSTRAINT [DF_admins_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[admins] ADD  CONSTRAINT [DF_admins_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[askida_donations] ADD  DEFAULT ((1)) FOR [is_anonymous]
GO
ALTER TABLE [dbo].[askida_donations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[askida_pool] ADD  DEFAULT ((0)) FOR [current_balance]
GO
ALTER TABLE [dbo].[askida_pool] ADD  DEFAULT ((0)) FOR [total_donated_balance]
GO
ALTER TABLE [dbo].[askida_pool] ADD  DEFAULT ((0)) FOR [total_used_balance]
GO
ALTER TABLE [dbo].[askida_pool] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[askida_redemptions] ADD  DEFAULT ('APPROVED') FOR [status]
GO
ALTER TABLE [dbo].[askida_redemptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[couriers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[couriers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer_cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [is_beneficiary_verified]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('CARD') FOR [payment_method]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [askida_used_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [revenue_recognized]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_qty]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[restaurant_reviews] ADD  CONSTRAINT [DF_restaurant_reviews_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[restaurant_reviews] ADD  CONSTRAINT [DF_restaurant_reviews_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[restaurants] ADD  DEFAULT ((4.0)) FOR [rating]
GO
ALTER TABLE [dbo].[restaurants] ADD  DEFAULT ((0)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[restaurants] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[restaurants] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[askida_donations]  WITH CHECK ADD  CONSTRAINT [fk_donation_customer] FOREIGN KEY([donor_customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[askida_donations] CHECK CONSTRAINT [fk_donation_customer]
GO
ALTER TABLE [dbo].[askida_donations]  WITH CHECK ADD  CONSTRAINT [fk_donation_pool] FOREIGN KEY([pool_id])
REFERENCES [dbo].[askida_pool] ([pool_id])
GO
ALTER TABLE [dbo].[askida_donations] CHECK CONSTRAINT [fk_donation_pool]
GO
ALTER TABLE [dbo].[askida_redemptions]  WITH CHECK ADD  CONSTRAINT [fk_redemption_customer] FOREIGN KEY([beneficiary_customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[askida_redemptions] CHECK CONSTRAINT [fk_redemption_customer]
GO
ALTER TABLE [dbo].[askida_redemptions]  WITH CHECK ADD  CONSTRAINT [fk_redemption_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[askida_redemptions] CHECK CONSTRAINT [fk_redemption_order]
GO
ALTER TABLE [dbo].[askida_redemptions]  WITH CHECK ADD  CONSTRAINT [fk_redemption_pool] FOREIGN KEY([pool_id])
REFERENCES [dbo].[askida_pool] ([pool_id])
GO
ALTER TABLE [dbo].[askida_redemptions] CHECK CONSTRAINT [fk_redemption_pool]
GO
ALTER TABLE [dbo].[customer_cards]  WITH CHECK ADD  CONSTRAINT [FK_customer_cards_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[customer_cards] CHECK CONSTRAINT [FK_customer_cards_customers]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [fk_order_items_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [fk_order_items_order]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [fk_order_items_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [fk_order_items_product]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_courier] FOREIGN KEY([courier_id])
REFERENCES [dbo].[couriers] ([courier_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_courier]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_customer]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([restaurant_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_restaurant]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_product_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_product_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([restaurant_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_product_restaurant]
GO
ALTER TABLE [dbo].[restaurant_reviews]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_reviews_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[restaurant_reviews] CHECK CONSTRAINT [FK_restaurant_reviews_customer]
GO
ALTER TABLE [dbo].[restaurant_reviews]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_reviews_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([restaurant_id])
GO
ALTER TABLE [dbo].[restaurant_reviews] CHECK CONSTRAINT [FK_restaurant_reviews_restaurant]
GO
ALTER TABLE [dbo].[askida_donations]  WITH CHECK ADD  CONSTRAINT [chk_donation_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[askida_donations] CHECK CONSTRAINT [chk_donation_amount]
GO
ALTER TABLE [dbo].[askida_donations]  WITH CHECK ADD  CONSTRAINT [chk_donation_type] CHECK  (([donation_type]='MEAL' OR [donation_type]='BALANCE'))
GO
ALTER TABLE [dbo].[askida_donations] CHECK CONSTRAINT [chk_donation_type]
GO
ALTER TABLE [dbo].[askida_pool]  WITH CHECK ADD  CONSTRAINT [chk_pool_current] CHECK  (([current_balance]>=(0)))
GO
ALTER TABLE [dbo].[askida_pool] CHECK CONSTRAINT [chk_pool_current]
GO
ALTER TABLE [dbo].[askida_pool]  WITH CHECK ADD  CONSTRAINT [chk_pool_donated] CHECK  (([total_donated_balance]>=(0)))
GO
ALTER TABLE [dbo].[askida_pool] CHECK CONSTRAINT [chk_pool_donated]
GO
ALTER TABLE [dbo].[askida_pool]  WITH CHECK ADD  CONSTRAINT [chk_pool_used] CHECK  (([total_used_balance]>=(0)))
GO
ALTER TABLE [dbo].[askida_pool] CHECK CONSTRAINT [chk_pool_used]
GO
ALTER TABLE [dbo].[askida_redemptions]  WITH CHECK ADD  CONSTRAINT [chk_redemption_amount] CHECK  (([amount_used]>(0)))
GO
ALTER TABLE [dbo].[askida_redemptions] CHECK CONSTRAINT [chk_redemption_amount]
GO
ALTER TABLE [dbo].[askida_redemptions]  WITH CHECK ADD  CONSTRAINT [chk_redemption_status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[askida_redemptions] CHECK CONSTRAINT [chk_redemption_status]
GO
ALTER TABLE [dbo].[couriers]  WITH CHECK ADD  CONSTRAINT [chk_courier_vehicle] CHECK  (([vehicle_type]='ON_FOOT' OR [vehicle_type]='CAR' OR [vehicle_type]='MOTORBIKE' OR [vehicle_type]='BIKE'))
GO
ALTER TABLE [dbo].[couriers] CHECK CONSTRAINT [chk_courier_vehicle]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [chk_order_items_price] CHECK  (([unit_price]>(0)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [chk_order_items_price]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [chk_order_items_qty] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [chk_order_items_qty]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [chk_orders_askida_used] CHECK  (([askida_used_amount]>=(0)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [chk_orders_askida_used]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [chk_orders_payment] CHECK  (([payment_method]='ASKIDA' OR [payment_method]='CASH' OR [payment_method]='CARD'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [chk_orders_payment]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [chk_orders_status] CHECK  (([status]='CANCELLED' OR [status]='DELIVERED' OR [status]='ON_THE_WAY' OR [status]='PREPARING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [chk_orders_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [chk_orders_total] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [chk_orders_total]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [chk_products_price] CHECK  (([unit_price]>(0)))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [chk_products_price]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [chk_products_stock] CHECK  (([stock_qty]>=(0)))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [chk_products_stock]
GO
ALTER TABLE [dbo].[restaurant_reviews]  WITH CHECK ADD  CONSTRAINT [CK_restaurant_reviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[restaurant_reviews] CHECK CONSTRAINT [CK_restaurant_reviews_rating]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [chk_restaurants_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [chk_restaurants_rating]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [chk_restaurants_revenue] CHECK  (([total_revenue]>=(0)))
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [chk_restaurants_revenue]
GO
/****** Object:  Trigger [dbo].[trg_add_donation_to_pool]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_add_donation_to_pool]
ON [dbo].[askida_donations]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE p
    SET 
        p.current_balance = p.current_balance + i.amount,
        p.total_donated_balance = p.total_donated_balance + i.amount,
        p.updated_at = GETDATE()
    FROM askida_pool p
    INNER JOIN inserted i ON p.pool_id = i.pool_id;
END;
GO
ALTER TABLE [dbo].[askida_donations] ENABLE TRIGGER [trg_add_donation_to_pool]
GO
/****** Object:  Trigger [dbo].[trg_consume_askida_pool]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_consume_askida_pool]
ON [dbo].[askida_redemptions]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @verified BIT;
    DECLARE @pool_balance DECIMAL(12,2);
    DECLARE @order_total DECIMAL(12,2);
    DECLARE @order_customer BIGINT;
    DECLARE @payment_method VARCHAR(20);
    DECLARE @pool_id BIGINT;
    DECLARE @customer_id BIGINT;
    DECLARE @order_id BIGINT;
    DECLARE @amount_used DECIMAL(12,2);

    -- inserted verisini al (tek satır varsayımı yok, ilk satırı alıyoruz)
    SELECT TOP 1 
        @pool_id = pool_id,
        @customer_id = beneficiary_customer_id,
        @order_id = order_id,
        @amount_used = amount_used
    FROM inserted;

    -- müşteri doğrulama
    SELECT @verified = is_beneficiary_verified
    FROM customers
    WHERE customer_id = @customer_id;

    IF @verified IS NULL OR @verified = 0
    BEGIN
        THROW 50001, 'Bu kullanıcı askida kullanım için doğrulanmamış.', 1;
    END

    -- order bilgileri
    SELECT 
        @order_customer = customer_id,
        @order_total = total_amount,
        @payment_method = payment_method
    FROM orders
    WHERE order_id = @order_id;

    IF @order_customer IS NULL
        THROW 50002, 'Sipariş bulunamadı.', 1;

    IF @order_customer <> @customer_id
        THROW 50003, 'Askida kullanım sadece siparişi veren kullanıcıya ait olabilir.', 1;

    IF @payment_method <> 'ASKIDA'
        THROW 50004, 'Sadece ASKIDA ödeme tipinde kullanılabilir.', 1;

    IF @amount_used > @order_total
        THROW 50005, 'Kullanılan tutar sipariş tutarını aşamaz.', 1;

    -- pool lock + kontrol
    SELECT @pool_balance = current_balance
    FROM askida_pool
    WHERE pool_id = @pool_id;

    IF @pool_balance < @amount_used
        THROW 50006, 'Yetersiz askıda bakiye.', 1;

    -- update pool
    UPDATE askida_pool
    SET 
        current_balance = current_balance - @amount_used,
        total_used_balance = total_used_balance + @amount_used,
        updated_at = GETDATE()
    WHERE pool_id = @pool_id;

    -- update order
    UPDATE orders
    SET askida_used_amount = @amount_used
    WHERE order_id = @order_id;
END;
GO
ALTER TABLE [dbo].[askida_redemptions] ENABLE TRIGGER [trg_consume_askida_pool]
GO
/****** Object:  Trigger [dbo].[trg_recalculate_order_total]    Script Date: 22.05.2026 01:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_recalculate_order_total]
ON [dbo].[order_items]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE o
    SET o.total_amount = ISNULL((
        SELECT SUM(oi.line_total)
        FROM order_items oi
        WHERE oi.order_id = o.order_id
    ), 0)
    FROM orders o
    INNER JOIN (
        SELECT DISTINCT order_id FROM inserted
        UNION
        SELECT DISTINCT order_id FROM deleted
    ) x ON o.order_id = x.order_id;
END;
GO
ALTER TABLE [dbo].[order_items] ENABLE TRIGGER [trg_recalculate_order_total]
GO
/****** Object:  Trigger [dbo].[trg_restaurant_reviews_update_rating]    Script Date: 22.05.2026 01:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_restaurant_reviews_update_rating]
ON [dbo].[restaurant_reviews]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH affected AS (
        SELECT restaurant_id FROM inserted
        UNION
        SELECT restaurant_id FROM deleted
    )
    UPDATE r
    SET r.rating = ISNULL((
        SELECT CAST(ROUND(AVG(CAST(rv.rating AS DECIMAL(3,1))), 1) AS DECIMAL(2,1))
        FROM dbo.restaurant_reviews rv
        WHERE rv.restaurant_id = r.restaurant_id AND rv.is_active = 1
    ), 0)
    FROM dbo.restaurants r
    INNER JOIN affected a ON a.restaurant_id = r.restaurant_id;
END

GO
ALTER TABLE [dbo].[restaurant_reviews] ENABLE TRIGGER [trg_restaurant_reviews_update_rating]
GO
